<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home-damnificada"></ion-back-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item *ngFor="let contacto of contactos">
      <ion-label>{{contacto.apellido}}, {{contacto.nombre}}</ion-label>
      <ion-icon name="trash" (click)="eliminarContacto(contacto)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/agregar-contacto">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>