<ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>VdgApp</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle *ngFor="let item of listaDamnificada">
                <ion-item routerLink={{item.url}}>
                    <ion-icon slot="start" name={{item.icon}}></ion-icon>
                    <ion-label>{{item.titulo}}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-button expand="full" shape="round" (click)="cerrarSesion()">
                <ion-icon slot="start" name="close"></ion-icon>Cerrar sesión
            </ion-button>
        </ion-toolbar>
    </ion-footer>
</ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>