<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home-victimario"></ion-back-button>
    </ion-buttons>
    <ion-title>Pruebas de vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let pruebaDeVida of pruebasDeVida" (click)=responderPruebaDeVida(pruebaDeVida)>
    <ion-item>
      <ion-icon name="camera"></ion-icon>
      {{pruebaDeVida.descripcion}}
    </ion-item>
  </ion-list>

  <ion-text *ngIf="!hayPruebasDeVida">
    <h3>No hay solicitudes de prueba de vida.</h3>
  </ion-text>


</ion-content>